.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  background-color: #FFFF8D;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
}

.article_title {
  font-size: x-large;
  margin-bottom: 2%;
}

.article_title a {
  color: #F4511E;
  text-decoration: none;
}

.points {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.points_element {
  margin: 0 2%;
}

.points_element span {
  font-size: larger;
  color: #212121;
}
